<link rel = "stylesheet" type = "text/css" href = "./views/css/index.css"/>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <div class = "nested_drawer">
      <span class="mdl-layout-title root_title">
        <span class = "title_card">
          <button id = "foodmenow-menu-lower-left">
            <i class = "material-icons md-48">apps</i>
          </button>
          <ul class = "mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="foodmenow-menu-lower-left">
            <li disabled class="mdl-menu__item"><a href = "">FoodMeNow</a></li>
            <li class="mdl-menu__item"><a href = "https://randomchatter.herokuapp.com">RandomChatter</a></li>
            <li class="mdl-menu__item"><a href = "https://mailgener8r.herokuapp.com">MailGener8r</a></li>
            <li class="mdl-menu__item"><a href = "https://rhyuen.github.io">R.Yuen</a></li>
          </ul>

        </span>
        <span class = "title_card"><a id = "banner_text" href = "/">FoodMeNow</a><br/></span>
      </span>
    </div>


    <ul id = "restContent">
    </ul>

  </div>
  <main class="mdl-layout__content">
    <div class="page-content" id = "map"></div>
  </main>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSxpeFPHeoc3kliVyHywWeEpEsw6C6vzQ" async defer></script>
<script type= "text/javascript" src = "./views/js/index.js"></script>
