<head>
  <title>Food Me</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  <style>
  </style>
</head>
